snippet for;
options head, indent
abbr    for 1; 2; 3 {...}
	for ${1}; ${2}; ${3} {
		${0}
	}

snippet fatal
options head
abbr    if err != nil { log.Fatal(err) }
	if ${1:err} != nil {
	  log.Fatal($1)
	}
	${2}

