snippet     goption
abbr		goption
	let g:${1} = get(g:, "$1", ${2})

snippet     agoption
abbr		agoption
	let g:`substitute(matchstr(neosnippet#util#expand('%:p:r'), '/autoload/\zs.*$'), '/', '#', 'g')`#${1} = get(g:, "`substitute(matchstr(neosnippet#util#expand('%:p:r'), '/autoload/\zs.*$'), '/', '#', 'g')`#$1", ${2})

